.cursor-pointer {
  cursor: pointer;
}

.hover-bg-light:hover {
  background-color: #f8f9fa;
}

.header-right-sidebar {
  padding-top: 36px;
}

.search-border{
  border-bottom: 1px solid #e9ecef;
  padding: 11px;
}

.red{
  background-color: red;
}
