.cursor-pointer {
    cursor: pointer;
}

.hover-bg-light:hover {
    background-color: #f8f9fa;
}

.header-right-sidebar {
    padding-top   : 17px;
    padding-bottom: 17px;
    padding-left  : 8px;
}

.search-border {
    border-bottom: 1px solid #e9ecef;
    padding      : 11px;
}

.red {
    background-color: red;
}

.badge {
    font-size       : 12px;
    padding         : 4px 8px;
    background-color: #dc3545 !important; // Đổi sang màu đỏ
    color           : #fff;

    &.rounded-pill {
        border-radius: 20px;
    }
}

.list-group-item.active .badge {
    background-color: #fff !important;
    color           : #dc3545; // Đổi màu chữ khi active sang đỏ
}